<div class="container">
  <a href="/">Return to Home</a>
  <p>Use the below link to modify your post.  Keep it secret!</p>
  <a href="/edit/post/<%=@new_post.id%>/<%=@new_post.key%>">/edit/post/<%=@new_post.id%>/<%=@new_post.key%></a>
</div>
